@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Azure Tutorial 1 With ASP.NET</p>

    <div class="text-center mt-2">
        <p class="fw-bold">@ViewData["Setting"]</p>
    </div>
</div>


