@page
@model IndexModel
@{
    ViewData["Title"] = "Test page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET test page</h1>
    <p>We are currently working on this feature</p>
</div>
